<div class="mb-3">
    <input
        class="form-check-input"
        type="checkbox"
        {{#if id}}id="{{ id }}"{{/if}}
        {{#if name}}name="{{ name }}"{{/if}}
        {{#if value}}value="{{ value }}"{{/if}}
        {{#if required}}required{{/if}}
        {{#if autofocus}}autofocus{{/if}}
    >
    <label class="form-check-label" {{#if id}}for="{{ id }}"{{/if}}>
        {{ label }}
    </label>
</div>
