<div class="mb-3">
    {{#each options as | option |}}
        <div class="form-check">
            <input class="form-check-input" type="radio" id="{{ ../id }}-{{@index}}" name="{{ ../name }}" {{#if autofocus}}autofocus{{/if}}>
            <label class="form-check-label" for="{{ ../id }}-{{@index}}">
                {{ option }}
            </label>
        </div>
    {{/each}}
</div>
