<div class="mb-3">
    <select
        class="form-select"
        {{#if id}}id="{{ id }}"{{/if}}
        {{#if name}}name="{{ name }}"{{/if}}
        {{#if placeholder}}placeholder="{{ placeholder }}"{{/if}}
        {{#if required}}required{{/if}}
        {{#if autofocus}}autofocus{{/if}}
    >
        {{#each options as | option |}}
            <option value="{{ option.value }}">{{ option.label }}</option>
        {{/each}}
    </select>
</div>
